body{
background-color: #e8e8e8;
font-family: sans-serif, Helvetica, Arial;
background-image: url("petuh.png");
background-repeat: repeat-x;
background-position: bottom;
background-color: gray;
}
h1{
text-align: center;
letter-spacing: 0.6cm;
}
#tabel{
float: left;
}
#logo{
float: right;
}

table{

border:0;
width: 1000px;

}
td{
text-align: center;
background-color: #d8d8d8;
border:10px;
border-style: double;
border-color: #a8a8a8;
border-radius: 20px 10px 20px 20px;
margin: 20px;
padding: 10px;

}

.menu {
	display: block;
}

td.suur{
height: 500px;
display: block;
background-color: #d8d8d8;
border:10px;
border-style: double;
border-color: #a8a8a8;
border-radius: 20px 10px 20px 20px;
margin: 20px;
padding: 10px;
text-align: left;
font-family: georgia;
}
img{
border:30px solid transparent;
border-image: url("raamipilt.png") 33% repeat;
}
a:link, a:active, a:visited{
color: #787878;
font-family: serif;
text-decoration: none; /*podcherkivanie teksta*/
}

a:hover{
color: #282828;
font-family: serif;
text-decoration: underline; /*podcherkivanie teksta*/
font-size: 20;
}
li {
/*vmesto tochek - malen'kie kartinki*/
list-style-image: url("raamipilt.png");
line-height: 100%;
list-style-position: center;
}
td.vaike{
width: 800px;
background-color: #d8d8d8;
border: 1px;
border-style: solid;
border-color: #a8a8a8;
border-radius: 140px 120px 140px 120px;
border-radius: 60px;


font-family: georgia;
}











